apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: overseerr
spec:
  ingressClassName: cilium
  rules:
    - host: overseerr.peterstorm.io
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: overseerr
                port:
                  number: 5055
