apiVersion: apps/v1
kind: Deployment
metadata:
  name: sonarr
  labels:
    app: sonarr
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: sonarr
  template:
    metadata:
      labels:
        app: sonarr
    spec:
      containers:
        - name: sonarr
          image: linuxserver/sonarr:4.0.13
          ports:
            - containerPort: 8989
          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
            - name: TZ
              value: Europe/Copenhagen
          volumeMounts:
            - name: config
              mountPath: /config
            - name: media
              mountPath: /media
            - name: torrents
              mountPath: /torrents
      volumes:
        - name: config
          hostPath:
            path: /var/data/configs/sonarr
            type: DirectoryOrCreate
        - name: media
          hostPath:
            path: /var/data/media
            type: DirectoryOrCreate
        - name: torrents
          hostPath:
            path: /var/data/torrents
            type: DirectoryOrCreate
