apiVersion: v1
kind: Service
metadata:
  name: plex
  annotations:
    io.cilium/lb-ipam-ips: "192.168.0.241"
spec:
  type: LoadBalancer
  ports:
    - port: 32400
      targetPort: 32400
      protocol: TCP
  selector:
    app: plex
