kubeProxyReplacement: true
k8sServiceHost: "127.0.0.1"
k8sServicePort: "6443"

l2announcements:
  enabled: true

externalIPs:
  enabled: true

ingressController:
  enabled: true
  loadbalancerMode: shared

hubble:
  enabled: true
  relay:
    enabled: true
  ui:
    enabled: true

operator:
  replicas: 1

ipam:
  mode: "kubernetes"
