kube-prometheus-stack:
  grafana:
    enabled: true
    ingress:
      enabled: true
      ingressClassName: cilium
      hosts:
        - grafana.peterstorm.io
  alertmanager:
    enabled: true
  prometheus:
    prometheusSpec:
      retention: 7d
      storageSpec:
        emptyDir:
          medium: ""
      replicas: 1
  prometheusOperator:
    replicas: 1
