kube-prometheus-stack:
  grafana:
    enabled: true
    ingress:
      enabled: true
      ingressClassName: cilium
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
      hosts:
        - grafana.peterstorm.io
      tls:
        - hosts:
            - grafana.peterstorm.io
          secretName: grafana-tls
  alertmanager:
    enabled: true
  prometheus:
    prometheusSpec:
      retention: 7d
      storageSpec:
        emptyDir:
          medium: ""
      replicas: 1
  prometheusOperator:
    replicas: 1
