apiVersion: apps/v1
kind: Deployment
metadata:
  name: radarr
  labels:
    app: radarr
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: radarr
  template:
    metadata:
      labels:
        app: radarr
    spec:
      containers:
        - name: radarr
          image: linuxserver/radarr:5.18.4
          ports:
            - containerPort: 7878
          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
            - name: TZ
              value: Europe/Copenhagen
          volumeMounts:
            - name: config
              mountPath: /config
            - name: media
              mountPath: /media
            - name: torrents
              mountPath: /torrents
      volumes:
        - name: config
          hostPath:
            path: /var/data/configs/radarr
            type: DirectoryOrCreate
        - name: media
          hostPath:
            path: /var/data/media
            type: DirectoryOrCreate
        - name: torrents
          hostPath:
            path: /var/data/torrents
            type: DirectoryOrCreate
